.Form4{
    /* background: rgb(199, 199, 199); */
    width:80%;
}
.Form4 > .personalInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
}

.Form4 > .personalInfo > div 
{
    width:50%;
    
}

.Form4 > .gender__field
{
    display: flex;
    justify-content: space-between;
}
.Form4 > .gender__field__heading
{
    font-weight: 700;
}